
@media only screen and (max-width:600px){
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
.header{
    height:40px;
    padding:30px 20px;
    margin:0 auto;   
}
.hero-section{
    padding:10px 0;
}
.hamburger{
    float:right;
}
.background{
    background-color:hsl(0, 0%, 98%);
    padding-bottom: 80px;
    text-align:center;
}
.image{
    background-image: url('./images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    overflow:hidden;
    background-size:100% 110%;

}
.image img{
    width:95%;
    margin-top:-128px;
    padding:10px;
     
}
.background .p1{
    font-family: 'Public Sans', sans-serif;

    padding:10px 8px;
    font-weight: 300;
    font-size: 2.15rem;
    color:hsl(233, 26%, 24%);
}
.background .p2{ 
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    padding:10px 20px 30px;
    color:hsl(233, 8%, 62%);
    line-height: 1.6;
}
.btn{
    font-family: 'Public Sans', sans-serif;
    height: 38px;
    border:none;
    border-radius:30px;
    width:38%;
    font-weight: 400;
    font-size: 0.7rem;
    color:hsl(0, 0%, 100%);
    background-image:linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
.choose{
    background-color: hsl(220, 16%, 96%);
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    padding:60px 0;
}
.choose img{
    width:18.5%;
}
.why-easybank{
    font-size: 1.8rem;
    color: hsl(233, 26%, 24%);    
    padding:0 45px 15px;
    line-height: 1.3;
}
.question .p1{
    font-size: 0.8rem;
    padding:0 20px;
    color:hsl(233, 8%, 62%);
    line-height: 1.6;
}
.online .p1{
    padding:20px 0;
    color: hsl(233, 26%, 24%);
    font-size: 1.08rem;    
}
.online .p2{
    font-size: 0.8rem;
    padding:0 30px;
    color:hsl(233, 8%, 62%);
    line-height: 1.6;
}
.budgeting{
    padding:30px 0;
}
.budgeting .p1{
    color: hsl(233, 26%, 24%);   
    padding:20px 0; 
    font-size: 1.08rem;    
}
.budgeting .p2{
    font-size: 0.8rem;
    padding:0 20px;
    color:hsl(233, 8%, 62%);
    line-height: 1.6;
}

.onboarding .p1{
    color: hsl(233, 26%, 24%);   
    padding:25px 0 20px; 
    font-size: 1.08rem;    
}
.onboarding .p2{
    font-size: 0.8rem;
    padding:0 20px;
    color:hsl(233, 8%, 62%);
    line-height: 1.6;
}
.api{
    padding:30px 0 0;
}
.api .p1{
    color: hsl(233, 26%, 24%);   
    padding:25px 0 20px;
    font-size: 1.08rem;    
}
.api .p2{
    font-size: 0.8rem;
    padding:0 25px;
    color:hsl(233, 8%, 62%);
    line-height: 1.6;
}
article{
    background-color:hsl(0, 0%, 98%);
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    padding:65px 0;
}  
.top{
    font-size:1.8rem;
    color: hsl(233, 26%, 24%);
    text-align: center;
    padding:10px 0;
}  
article div{
    padding:10px 25px;
    
}
article img{
    border-radius: 5px 5px 0 0;
    width:100%;
}
article .p1{
    font-size:0.5rem;
    color:hsl(233, 8%, 62%);
    padding:20px 25px 15px;
}
article .p2{
    font-size:0.9rem;
    color: hsl(233, 26%, 24%);
    padding:0 25px;
}
article .p3{
    font-size:0.75rem;
    color:hsl(233, 8%, 62%);
    padding:10px 25px;
    line-height: 1.3; 
}
footer{
    padding:40px 0;
    background-color: hsl(233, 26%, 24%);
    color:hsl(0, 0%, 100%);
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}
.social-icons{
    padding: 20px 0 ;
}
.social-icons img{
    width:9.3%;
    padding:0 5px;
}
.nav1, .nav2{
    font-size: 0.8rem; 
}
.nav1 li{
     padding:10px 0;
}
.nav2 li{
    padding:10px 0;
}
.nav2{
    padding:0 0 30px;
}
.footer-end p{
    padding:30px 0;
    font-size: 0.8rem;
}
}
/* Grayish Blue: hsl(233, 8%, 62%)
Light Grayish Blue: hsl(220, 16%, 96%)
Very Light Gray: hsl(0, 0%, 98%)
White: hsl(0, 0%, 100%) 
Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)*/

